body
{
    background-color: #e9ebee;
    font-family: "roboto", sans-serif;
}
#activity p{
    padding: 10px;
    color: #009688;
    
}
.fixed_top nav
{
    background-color: #3c948b;
}

.fixed_top a
{
    color: #f8fcf9;
}
.fixed_top nav li a i
{
    margin-right: 10px;
    font-size: 16px;
}

.fixed_top nav li:last-child
{
    margin-right: 65px;
}

.fixed_top nav .brnd_nm a
{
    font-size: 23px;
}

.fixed_top nav .icon-bar
{
    background-color: #f8fcf9;
}

.fixed_top nav .brnd_nm
{
    margin-left: 65px;
}

.fixed_top nav .search_form form
{
    width: 98%;
}

.fixed_top nav .search_form form .search_bar
{
    width: 100%;
}

.fixed_top nav .search_form form .search_bar input
{
    width: 100%;
}
sidebar h3{
    color: #009688;
}
sidebar a
{
    color: #009688;
    font-size: 16px;
    text-transform: capitalize;
}
.main .bio h4
{
    text-transform: capitalize;
    color: #009688;
    
}

.main activities h4
{
    text-align: center;
    color: #333;
    font-weight: bold;
    font-size: 14px;
}

middlebar .forms input
{
    height: 35px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 5px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

middlebar .forms textarea
{
    height: 100px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 5px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

middlebar .forms label
{
    color: #009688;
    text-transform: capitalize;
    margin-top: 10px;
    font-size: 15px;
}

.sc::-webkit-scrollbar {
    width: 12px;
}
.sc::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.sc::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.dsply_frnd::-webkit-scrollbar {
    width: 12px;
}

.dsply_frnd::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.dsply_frnd::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.dsply_group::-webkit-scrollbar {
    width: 12px;
}

.dsply_group::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.dsply_group::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.topic_form .forms input
{
    height: 35px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 5px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.topic_form .forms textarea
{
    height: 100px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 5px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.topic_form .forms label
{
    color: #009688;
    text-transform: capitalize;
    margin-top: 10px;
    font-size: 15px;
}

.topic_form .forms .btn
{
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #3c948b;
    color: #f8fcf9;
    float: right;
    width: 15%;
}
table{
    color: #009688;
}
